/*SETUP*/
:root {
  --dark-blue: #1f2937;
  --light-blue: #3882f6;
  --grey: #e5e7eb;
  --white: #f9faf8;

  --48: 3rem;
  --36: 2.25rem;
  --24: 1.5rem;
  --18: 1.125rem;

  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/

  font-family: Roboto;
}

h1 {
  font-size: var(--48);
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: var(--36);
  font-weight: 800;
}

h3 {
  font-size: var(--24);
  font-weight: 700;
}

h4 {
  font-size: var(--18);
  font-weight: 700;
}

p {
  font-size: var(--18);
}

a {
  font-size: var(--18);
  color: var(--grey);
}

quote {
  color: var(--dark-blue);
  font-size: var(--36);
  font-style: italic;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border: 4px solid pink;
  min-height: 50px;
}

header,
footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  border: 4px solid pink;
  flex: 1;
  min-height: 50px;
}

section {
  border: 4px solid orange;
  min-height: 50px;
}

footer {
  border: 4px solid pink;
  min-height: 50px;
}
section {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  width: 70px;
  padding: 5px;
}

/*The sections all have width restrictions, marked up in dark green. I've set these at 70% in all sections.*/
section-content {
  display: block;
  width: 70%;
  border: 10px solid red;
  padding: 10px;
}
/*SECTIONS*/

/*HEADER*/
header-content {
  border: 3px solid darkgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

header-logo {
  color: var(--white);
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/*HERO*/

hero-text h1 {
  color: var(--white);
}

hero-text p {
  color: var(--grey);
}

hero-content button {
  margin-top: 10px;
}

hero-content {
  border: 3px solid darkgreen;
  display: flex;
  gap: 16px;
  justify-content: space-around;
  margin: auto;
  padding: 25px 0;
  width: 100%;
}

hero-text {
  display: flex;
  flex-direction: column;
}

hero-text,
hero-image {
  flex: 1;
  position: relative;
  border: 3px solid yellow;
  width: 50%;
}

hero-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  background-color: var(--dark-blue);
}

/*INFO*/

.info {
  background-color: var(--white);
}

/*FOOTER*/
footer p {
  color: var(--grey);
}
